<section class="cert-banner">
  <div class="container">
    <div class="cert-banner__card">

      <!-- Decorative sparkles -->
      <svg class="cert-banner__spark cert-banner__spark--tr" width="24" height="24" viewBox="0 0 24 24" fill="rgba(255,255,255,0.4)" aria-hidden="true">
        <path d="M12 2l1.5 8.5L22 12l-8.5 1.5L12 22l-1.5-8.5L2 12l8.5-1.5z"/>
      </svg>
      <svg class="cert-banner__spark cert-banner__spark--bc" width="32" height="32" viewBox="0 0 24 24" fill="white" aria-hidden="true">
        <path d="M12 2l1.5 8.5L22 12l-8.5 1.5L12 22l-1.5-8.5L2 12l8.5-1.5z"/>
      </svg>

      <!-- Left: text -->
      <div class="cert-banner__body">
        <h2 class="cert-banner__title">
          {{ 'certificateBanner.prefix' | translate }}
          <span class="cert-banner__highlight">{{ 'certificateBanner.highlight' | translate }}</span>
        </h2>
      </div>

      <!-- Right: image -->
      <div class="cert-banner__image-wrap">
        <img src="assets/images/certificate-banner.png" alt="" aria-hidden="true" />
      </div>

    </div>
  </div>
</section>
