$icons-font: "icons";

@font-face {
    font-family: $icons-font;
    src: url("/assets/fonts/icons.woff?e9a77d552a884926e5b2a96ff71e477a") format("woff"),
url("/assets/fonts/icons.woff2?e9a77d552a884926e5b2a96ff71e477a") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
    "whatsapp-brands-solid-full": "\f101",
    "viber-brands-solid-full": "\f102",
    "users-solid-full": "\f103",
    "stethoscope-solid-full": "\f104",
    "square-check-solid-full": "\f105",
    "phone-solid-full": "\f106",
    "map-location-dot-solid-full": "\f107",
    "language-solid-full": "\f108",
    "facebook-f-brands-solid-full": "\f109",
    "envelope-solid-full": "\f10a",
    "clock-solid-full": "\f10b",
    "circle-plus-solid-full": "\f10c",
    "circle-minus-solid-full": "\f10d",
    "child-solid-full": "\f10e",
    "chevron-up-solid-full": "\f10f",
    "chevron-right-solid-full": "\f110",
    "chevron-left-solid-full": "\f111",
    "chevron-down-solid-full": "\f112",
    "calendar-solid-full": "\f113",
    "briefcase-solid-full": "\f114",
    "bolt-solid-full": "\f115",
);

.icon-whatsapp-brands-solid-full:before {
    content: map-get($icons-map, "whatsapp-brands-solid-full");
}
.icon-viber-brands-solid-full:before {
    content: map-get($icons-map, "viber-brands-solid-full");
}
.icon-users-solid-full:before {
    content: map-get($icons-map, "users-solid-full");
}
.icon-stethoscope-solid-full:before {
    content: map-get($icons-map, "stethoscope-solid-full");
}
.icon-square-check-solid-full:before {
    content: map-get($icons-map, "square-check-solid-full");
}
.icon-phone-solid-full:before {
    content: map-get($icons-map, "phone-solid-full");
}
.icon-map-location-dot-solid-full:before {
    content: map-get($icons-map, "map-location-dot-solid-full");
}
.icon-language-solid-full:before {
    content: map-get($icons-map, "language-solid-full");
}
.icon-facebook-f-brands-solid-full:before {
    content: map-get($icons-map, "facebook-f-brands-solid-full");
}
.icon-envelope-solid-full:before {
    content: map-get($icons-map, "envelope-solid-full");
}
.icon-clock-solid-full:before {
    content: map-get($icons-map, "clock-solid-full");
}
.icon-circle-plus-solid-full:before {
    content: map-get($icons-map, "circle-plus-solid-full");
}
.icon-circle-minus-solid-full:before {
    content: map-get($icons-map, "circle-minus-solid-full");
}
.icon-child-solid-full:before {
    content: map-get($icons-map, "child-solid-full");
}
.icon-chevron-up-solid-full:before {
    content: map-get($icons-map, "chevron-up-solid-full");
}
.icon-chevron-right-solid-full:before {
    content: map-get($icons-map, "chevron-right-solid-full");
}
.icon-chevron-left-solid-full:before {
    content: map-get($icons-map, "chevron-left-solid-full");
}
.icon-chevron-down-solid-full:before {
    content: map-get($icons-map, "chevron-down-solid-full");
}
.icon-calendar-solid-full:before {
    content: map-get($icons-map, "calendar-solid-full");
}
.icon-briefcase-solid-full:before {
    content: map-get($icons-map, "briefcase-solid-full");
}
.icon-bolt-solid-full:before {
    content: map-get($icons-map, "bolt-solid-full");
}
