@font-face {
    font-family: "icons";
    src: url("/assets/fonts/icons.woff?e9a77d552a884926e5b2a96ff71e477a") format("woff"),
url("/assets/fonts/icons.woff2?e9a77d552a884926e5b2a96ff71e477a") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp-brands-solid-full:before {
    content: "\f101";
}
.icon-viber-brands-solid-full:before {
    content: "\f102";
}
.icon-users-solid-full:before {
    content: "\f103";
}
.icon-stethoscope-solid-full:before {
    content: "\f104";
}
.icon-square-check-solid-full:before {
    content: "\f105";
}
.icon-phone-solid-full:before {
    content: "\f106";
}
.icon-map-location-dot-solid-full:before {
    content: "\f107";
}
.icon-language-solid-full:before {
    content: "\f108";
}
.icon-facebook-f-brands-solid-full:before {
    content: "\f109";
}
.icon-envelope-solid-full:before {
    content: "\f10a";
}
.icon-clock-solid-full:before {
    content: "\f10b";
}
.icon-circle-plus-solid-full:before {
    content: "\f10c";
}
.icon-circle-minus-solid-full:before {
    content: "\f10d";
}
.icon-child-solid-full:before {
    content: "\f10e";
}
.icon-chevron-up-solid-full:before {
    content: "\f10f";
}
.icon-chevron-right-solid-full:before {
    content: "\f110";
}
.icon-chevron-left-solid-full:before {
    content: "\f111";
}
.icon-chevron-down-solid-full:before {
    content: "\f112";
}
.icon-calendar-solid-full:before {
    content: "\f113";
}
.icon-briefcase-solid-full:before {
    content: "\f114";
}
.icon-bolt-solid-full:before {
    content: "\f115";
}
