<section class="faq">
  <div class="container mx-auto lg:px-8 px-4">
    <h2 class="faq__title">{{ 'faq.title' | translate }}</h2>

    <div class="faq__grid">
      @for (i of items; track i) {
        <div class="faq__item" [class.faq__item--open]="openIndex() === i">
          <button class="faq__question" (click)="toggle(i)" [attr.aria-expanded]="openIndex() === i">
            <span class="faq__question-title">{{ 'faq.items.' + i + '.q' | translate }}</span>
            <span class="faq__icon">
              @if (openIndex() === i) {
                <i class="icon icon-circle-minus-solid-full"></i>
              } @else {
                <i class="icon icon-circle-plus-solid-full"></i>
              }
            </span>
          </button>
          @if (openIndex() === i) {
            <div class="faq__answer">{{ 'faq.items.' + i + '.a' | translate }}</div>
          }
        </div>
      }
    </div>
  </div>
</section>
