.faq {
  &__title {
    @apply 3xl:text-5xl 2xl:text-4xl xl:text-3xl lg:text-2xl text-xl font-bold text-white;
  }

  &__grid {
    @apply grid grid-cols-1 md:grid-cols-2 md:gap-x-8 md:gap-y-14 gap-4 mt-10;
  }

  &__question {
    @apply w-full flex justify-between items-center lg:gap-8 gap-4 cursor-pointer;
  }

  &__question-title {
    @apply text-2xl text-white font-bold;
  }

  &__icon {
    @apply flex-shrink-0 text-[#7c3aed];

    .icon {
      @apply text-4xl;
    }
  }

  &__answer {
    margin-top: 1rem;
    font-size: 0.9375rem;
    color: rgba(255, 255, 255, 0.65);
    line-height: 1.65;
  }
}
