<section class="announcements">
  <div class="container mx-auto lg:px-8 px-4">

    <div class="announcements__header">
      <h2 class="announcements__title">{{ 'announcements.title' | translate }}</h2>
      <div class="announcements__arrows">
        <button class="announcements__arrow announcements__arrow--prev" aria-label="Previous">
          <i class="icon icon-chevron-left-solid-full"></i>
        </button>
        <button class="announcements__arrow announcements__arrow--next" aria-label="Next">
          <i class="icon icon-chevron-right-solid-full"></i>
        </button>
      </div>
    </div>

    <div #swiperEl class="swiper">
      <div class="swiper-wrapper">
        @for (item of announcements; track item.link) {
          <div class="swiper-slide">
            <div class="ann-card">
              <div class="ann-card__thumb">
                <span class="ann-card__level">{{ item.level }}</span>
                <span class="ann-card__subtitle">{{ 'announcements.courseLabel' | translate }}</span>
              </div>
              <div class="ann-card__body">
                <h3 class="ann-card__title">{{ item.titleKey | translate }}</h3>
                <p class="ann-card__desc">{{ item.descKey | translate }}</p>
                <a class="ann-card__link" [routerLink]="item.link">
                  {{ 'announcements.readMore' | translate }}
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none">
                    <path d="M3 7h8M7.5 3.5L11 7l-3.5 3.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        }
      </div>
      <div class="announcements__pagination swiper-pagination"></div>
    </div>

  </div>
</section>
